<button
  [type]="buttonType"
  (click)="onAction()"
  [disabled]="isDisabled"
  [class]="
    'action-btn btn-' +
    effectiveVariant +
    ' btn-' +
    effectiveSize +
    (isFullWidth ? ' btn-block' : '') +
    (customClass ? ' ' + customClass : '')
  "
  [attr.aria-label]="effectiveAriaLabel"
  [style]="tenantStyles()"
>
  @if (isLoading) {
    <span class="spinner" aria-hidden="true"></span>
  }

  @if (icon) {
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <span>{{ displayLabel }}</span>
  } @else {
    @if (config.icon) {
      <i [class]="config.icon" aria-hidden="true"></i>
    }
    <span>{{ displayLabel }}</span>
  }
</button>
